<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link href="../style/about.css" rel="stylesheet">
</head>
<body>
    <div class="about-us">
        <h1>About us</h1>
        <p>Hello from the Productivity App team!</p>
    </div>

    
    <div class="team-container">
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Martin</h3>
            <p>Martin Petkov G6</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Nikola</h3>
            <p>Nikola group G6</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Aleksandar</h3>
            <p>Aleksandar group G6</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Kire</h3>
            <p>Kire group G6</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Stefan</h3>
            <p>Stefan group G6</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Alberto</h3>
            <p>Alberto group G3</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Bojan</h3>
            <p>Bojan group G3</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Boris</h3>
            <p>Boris group G3</p>
        </div>
        <div class="team-member">
            <img src="../img/femaleavatar.png" alt="profile-avatar">
            <h3>Elena</h3>
            <p>Elena group G11</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Krenar</h3>
            <p>Krenar group G3</p>
        </div>
        <div class="team-member">
            <img src="../img/avatar.png" alt="profile-avatar">
            <h3>Nikola</h3>
            <p>Nikola group G11</p>
        </div>
    </div>
</body>
</html>