html {
    background-color: rgb(17, 54, 3);
    
}
.team-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 50px;
}

/* Style the team member */
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
  /* Style the team member image */
.team-member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
  
  /* Style the team member name */
.team-member h3 {
    font-size: 25px;
    margin-bottom: 5px;
}
  
  /* Style the team member job title */
.team-member p {
    font-size: 15px;
    margin-bottom: 0;
}

 /* Style the about us info */
.about-us h1{
  font-size: 50px;
}
.about-us p {
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
}
